{% if selected %}
<a href="{{ href }}"
    class="flex flex-col items-center justify-center h-16 bg-zinc-700 shadow-[inset_-3px_0_0_0_#00bc7d] cursor-pointer transition">
    <span class="material-symbols-outlined">{{icon}}</span>
    <p class="text-xs">{{text}}</p>
</a>
{% else %}
<a href="{{ href }}" class="flex flex-col items-center justify-center h-16 hover:bg-zinc-700 cursor-pointer transition">
    <span class="material-symbols-outlined">{{icon}}</span>
    <p class="text-xs">{{text}}</p>
</a>
{% endif %}